= link_to "Add new Bar", new_bar_path, class: 'btn btn-default'

%table.table.table-condensed
  %thead
    %tr
      %th Localname
      %th Action
  %tbody
    - if bars.present?
      = render bars
    - else
      %h2 Excuse us. We are out of beer