%h1= bar.name
%p
  City:
  = bar.city
%p
  Street:
  = bar.street
%ul
- if bar.beers.present?
  %p Avalilable beers
  - bar.beers.each do |fbeer|
    %li= fbeer.name
- else
  %p No beers available :(
#map